---
layout: default
---

{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}'); background-position: right; background-size: cover;">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-6 col-md-8">
        <div class="page-heading text-left" style="margin-top: 40px;"> <!-- Control the margin here -->
          <div class="title-box"> <!-- New box for title and description -->
            <h1><strong>{{ site.title }}</strong></h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- TRANSPARENT BAR -->
    <div class="transparent-bar">
      <div class="container text-center">
        <p class="bar-text">Welcome to Sarah Jayne Coaching! Click here to get immediate access to some
          free materials and get started right away.</p>
        <a class="btn btn-primary" href="/home/videos">Get Free Help!</a>
      </div>
    </div>
  </div>
</header>
</header>

<!-- BLUE QUOTE SECTION -->
<section class="Cwide-section-home">
  <div class="text-block">
    <p class="quote">Fear doesn’t stop me from living the life I want to live anymore. I want you to experience that too! The world needs what you have to offer. Right now. Exactly as you are.
      Your purpose and potential is so much bigger than you’ve ever known. Let me help you see it, so you can live the life you’ve been dreaming about.
      I’m Sarah. I’m 23 years old, I'm a certified life coach, and I am on a mission to help you stop getting stuck in indecision, and start taking tangible steps toward the life you really want.
      Two years ago, I was faced with the worst fear and anxiety I had ever experienced. I felt stuck, and couldn’t see the future I had always dreamed of. I felt completely hopeless…
      Until I realized I <strong>could</strong> move forward and make decisions anyway. Even though I felt afraid. I learned how to let go and just keep moving.
      I truly believe you and I are very similar, which has prepared me to help you learn the steps you need to take in order to start living your dreams TODAY. Let’s do this together.</p>
  </div>
</section>

<!-- TAN BUTTON SECTION -->
<section class="Cwide-section-home">
  <div class="text-block">
    <div class="col-md-6">
      <p><strong>Looking for something more? I'm offering one-on-one coaching right now so you can
        finally take the steps you've been hestitating on taking. Stop looking at the life you want
        from afar!</strong></p>
      <a href="/home/contact/" class="btn btn-primary mt-3">Start Moving Forward</a>
    </div>
    <div class="rounded-frame">
      <img src="img/headshot2.png" alt="Headshot of Coach Sarah" class="img-fluid" />
    </div>
  </div>
</section>