---
layout: default
---

{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}'); background-position: right; background-size: cover;">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-6 col-md-8">
        <div class="page-heading text-left" style="margin-top: 50px;"> <!-- Control the margin here -->
          <h1>{{ site.title }}</h1>
          {% if site.description %}
          <span class="subheading">{{ site.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
  <!-- New Transparent Bar -->
  <!-- <div class="transparent-bar">
    <div class="container text-center">
      <p class="bar-text">clicky clicky you are sticky</p>
      <a class="btn btn-primary" href="/home/videos">Get Free Help!</a>
    </div>
  </div> -->
</header>

<!-- BLUE QUOTE SECTION -->
<section class="block-section block-section-home">
  <div class="container">
    <div class="row align-items-center my-5">
      <div class="text-center large-quote">
          <p>Hi! I’m Sarah. I am a certified life coach, I’m 23 years old, I’m living with my 2 best friends (my brother and sister), and I am on a mission to help you let go of fear so you can start living your dreams and blessing the world around you.</p>
          <p>Two years ago, I was faced with the worst fear and anxiety I had ever experienced. I felt stuck, and couldn’t see the future I had always dreamed of. I felt completely hopeless….</p> 
          <p>Until I realized I <strong>could</strong> move forward and make decisions anyway. Even though I felt afraid. I learned how to let go and just keep moving. Fear doesn’t stop me from living the life I want to live anymore. And I want you to experience that too. The world needs what you have to offer.</p>
          <p>I truly believe you and I are very similar, which has prepared me to help you learn the steps you need to take in order to start living your dreams TODAY. Because I’ve been there. And there is so much hope.</p>
      </div>
    </div>
  </div>
</section>
<section class="block-section block-section-contactme">
  <div class="container">
    <div class="row align-items-center my-5">
      <div class="col-md-6 text-center d-flex flex-column justify-content-center">
        <div class="large-quote">
          <p>Put some text here</p>
        </div>
        <a href="your-link-here" class="btn btn-primary mt-3">Start Moving Forward</a> <!-- Replace with your link -->
      </div>
      <div class="col-md-6">
        <div class="rounded-frame"> <!-- Add a div to wrap the image -->
          <img src="img/headshot1.png" alt="Description of the image" class="img-fluid" /> <!-- Replace with your image path -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- POST CONTAINER -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}
      <!-- Divider Bar -->
      <div class="my-5"><hr class="invis-divider"></div>
      <h2 class="post-title">See some of my Blog Posts!</h2>
      <div class="my-5"><hr class="divider"></div>

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
